.project-hero {
    // position: relative;
    width: 100%;
    border: 1px solid #80808066;
    padding: 60px 0;
    background-color: rgb(238, 238, 238);

    &__content {
        // border: 1px solid red;

        .btn {
            text-align: right;
            margin: 0 3rem;
        }

        // .label {
        //     text-align: right;
        //     margin: 0 3rem;
        //     color: grey;
        //     font-size: 14px;
        // }
    }


    // &__title {
    //     border: 1px solid blue;
    // }
}