.project-title {
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: right;
    -webkit-text-stroke: 1px black;
    color: transparent;
    margin: 1rem 3rem;

    &--current {

        font-size: 90px;
        text-transform: uppercase;
    }

    &--next {
        color: transparent;
        -webkit-text-stroke: 3px black;
        cursor: pointer;
        transform-style: preserve-3d;
        transition: transform 1.5s cubic-bezier(.075, .82, .165, 1), color .2s;
        transform: rotateY(-45deg) translateZ(0) scale(1);
        transform-origin: right center;
        will-change: transform;
        font-size: 5rem;
        margin: 6px 0;
        text-transform: uppercase;

        &:hover {
            color: black;
            transform: rotateY(0deg) translateZ(0) scale(1);
        }
    }
}

.pers {
    transform-style: preserve-3d;
    perspective: 100vw;
}

.parallax {
    transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}