@import '@/utils/mixins.scss';

.wrapper {
    @include contentMaxWidth(1600px);

    transform-style: preserve-3d;
    perspective: 100vw;
}

.quotes__container {
    @include margins;
    padding: 0 20px;

    @media (min-width: 576px) {
        padding: 0;
    }

    .quotes {
        font-weight: 700;
        line-height: 1.5;

        max-width: 700px;
        font-size: 20px;

        @media (min-width: 576px) {
            font-size: 22px;
        }

        @media (min-width: 768px) {
            font-size: 26px;
        }

        @media (min-width: 992px) {
            font-size: 30px;
        }

        @media (min-width: 1200px) {}

        @media (min-width: 1400px) {}


        &:before {
            display: flex;
            line-height: 40px;
            content: '"';
            position: relative;
            top: 38px;
            right: 22px;
            font-size: 50px;

            @media (min-width: 576px) {}

            @media (min-width: 768px) {
                top: 46px;
                right: 36px;
                font-size: 80px;
            }

            @media (min-width: 992px) {
                top: 50px;
                right: 50px;
                font-size: 100px;
            }

        }

        .single_quote {
            margin-bottom: 26px;
        }
    }

    .author {
        line-height: 1;
        font-size: 16px;
        font-weight: 500;
    }


    transform: rotateY(45deg);
    transform-origin: left center;
    transform-style: preserve-3d;
    transition: all 1.5s cubic-bezier(.075, .82, .165, 1);
    will-change: transform;
    opacity: 0;
}