.back-button {
    z-index: 99;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 10px;
    position: fixed;
    top: 5vh;
    // right: 60px;
    right: -10%;

    &:hover {
        border: 1px solid black;

        img {
            scale: 1.2;
        }
    }


@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

}