.swiper {
    border: 1px solid black;
    height: 100vh;

    .slide {
        background-color: beige;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    --swiper-scrollbar-border-radius: 10px;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 4px;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: 10px;
    // --swiper-scrollbar-sides-offset: 1%;
    // --swiper-scrollbar-sides-offset: 100px;
    // --swiper-scrollbar-sides-offset: 300px;
    --swiper-scrollbar-sides-offset: 40%;
    --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
    --swiper-scrollbar-size: 4px;

    :global(.swiper-scrollbar-drag.zero)::after {
        content: '01';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
    }

    :global(.swiper-scrollbar-drag.one)::after {
        content: '02';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
    }

    :global(.swiper-scrollbar-drag.two)::after {
        content: '03';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
    }

    :global(.swiper-scrollbar-drag.three)::after {
        content: '04';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
    }
}