.project-hero {
    position: relative;
    width: 100%;
    z-index: 1;
    border: 1px solid #80808066;
    padding: 60px 0;

    // &__content {
    //     border: 1px solid red;
    // }

    // &__title {
    //     border: 1px solid blue;
    // }
}