/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

:root {

  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

a,
a:link,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: black;
}


* ul {
  list-style: none;
  padding: 0;
}