@mixin contentMaxWidth($width) {
    @media (min-width: $width) {
        max-width: 1400px;
        margin: 0 auto;
    }
}

@mixin margins {
    margin: 30px 24px;

    @media (min-width: 576px) {
        margin: 40px 40px;
    }

    @media (min-width: 768px) {
        margin: 44px 60px;
    }

    @media (min-width: 992px) {
        margin: 50px 100px;
    }

    @media (min-width: 1200px) {
        margin: 60px 100px;
    }
}

@mixin grid {
    @media (min-width: 576px) {
        display: grid;
        grid-template-columns: 1fr 160px;
        column-gap: 26px;
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 170px;
        column-gap: 30px;
    }
}