.container {
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 1px black;

    .heading1 {

        span {
            position: relative;
            left: -10%;
        }
    }

    .heading2 {
        text-align: right;

        span {
            position: relative;
            right: -10%;
        }
    }
}