@import '@/utils/mixins.scss';

.wrapper {
    @include contentMaxWidth(1600px);
}

.swiper-images-container {
    @include margins;
    @include grid;
    box-sizing: border-box;

    .swiper-images {
        min-width: 0; // prevents overflow caused by display grid on parent element
        padding: 5px;
        background-color: white;
        opacity: 0;

        .slide img {
            width: 100%;
        }
    }

    .info {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10px;
        justify-content: space-between;
        opacity: 1;



        transform-style: preserve-3d;
        perspective: 100vw;

        @media (min-width: 576px) {
            display: block;
            margin-top: 0;
        }


        .info-wrapper {
            transform: rotateY(45deg);
            transform-origin: left center;
            transform-style: preserve-3d;
            transition: all 1.5s cubic-bezier(.075, .82, .165, 1);
            will-change: transform;
            opacity: 0;
        }

        .nav-buttons-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 16px;
            font-size: 12px;
            margin-left: 50px;

            @media (min-width: 576px) {
                margin-left: 0;
            }

            :global(.swiper-pagination-fraction) {
                width: auto !important;
                padding: 0 12px !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .nav-btn {
                cursor: pointer;
            }
        }

        .description {
            font-size: 14px;
            font-weight: 300;
        }
    }
}