.swiper-images-container {
    box-sizing: border-box;
    margin: 60px 100px;
    display: grid;
    grid-template-columns: 4fr 170px;
    column-gap: 30px;

    .swiper-images {
        min-width: 0; // prevents overflow caused by display grid on parent element
        padding: 5px;
        background-color: white;

        .slide {
            img {
                width: 100%;
            }
        }
    }

    .nav-buttons-container {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        :global(.swiper-pagination-fraction) {
            width: auto !important;
            padding: 0 16px !important;
        }

        .nav-btn {
            cursor: pointer;
        }
    }
}