.project-image {
    display: grid;
    grid-template-columns: 4fr 170px;
    column-gap: 30px;
    margin: 60px 100px;

    .project-image__container {
        padding: 5px;
        background-color: white;

        img {
            width: 100%;
        }
    }
}