@import '@/utils/mixins.scss';

.wrapper {
    @include contentMaxWidth(1600px);
}

.project-image {
    @include margins;
    @include grid;

    &__container {
        padding: 2px;
        background-color: white;

        @media (min-width: 576px) {
            padding: 5px;
        }

        img {
            width: 100%;
        }
    }

    &__description {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;

        @media (min-width: 576px) {
            margin-top: 0;
        }
    }
}