.stage-perspective {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    perspective: 100vw;

    .stage {
        transform-style: preserve-3d;

        .list {
            position: relative;
            margin: 0;
            padding-left: 0;
            list-style: none;
            text-align: right;
            width: 95%;
            transform-style: preserve-3d;
            text-transform: uppercase;
            font-weight: bold;

            & .menulink {
                cursor: pointer;
                transform-style: preserve-3d;

                .linkcontainer {
                    background-color: violet;
                    transition: transform 1.5s cubic-bezier(.075, .82, .165, 1);
                    transform: rotateY(-45deg) translateZ(0) scale(1);
                    transform-origin: right center;
                    transform-style: preserve-3d;
                    will-change: transform;
                    font-size: 5rem;
                }
            }
        }
    }
}