.stage-perspective {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    perspective: 100vw;
    width: 100%;

    .stage {
        transform-style: preserve-3d;

        .list {
            position: relative;
            list-style: none;
            text-align: end;
            width: 100%;
            transform-style: preserve-3d;
            text-transform: uppercase;

            & .menulink {
                color: transparent;
                -webkit-text-stroke: 3px black;
                cursor: pointer;
                transform-style: preserve-3d;
                background-color: violet;
                opacity: 0.2;
                transition: transform 1.5s cubic-bezier(.075, .82, .165, 1), color 0.2s;
                transform: rotateY(-45deg) translateZ(0) scale(1);
                transform-origin: right center;
                will-change: transform;
                font-size: 7rem;
                margin: 6px 0;

                &:hover {
                    transform: rotateY(-20deg);
                    transform: rotateY(-20deg) translateZ(0) scale(1);
                    color: black;
                }
            }
        }
    }
}